body{
    background-color:#f3f3f3;
    color:#333;
    width:100%;
    font-faily:sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#47aa8;
    color:#fff;
}
